/* -- CSS INDEX -- */
* {
    margin: 0;
    padding:0;

}

img {
    max-width: 100%;
    height: auto;

}

$colorFondo: #b0e7e7;

/*--MODIFICACIONES BOOTSTRAP--*/

$primary: #6ce1e1;
$warning: #3da7a7;




