
/* -- NAV CSS -- */

nav div a {
    font-size: 15px;
    transition: 1s;
}
nav div a:hover {
    font-size: 16px;
    
}

nav {
    padding: 0.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    
}


nav li a {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
}

/*-- SECCION PRINCIPAL */

.cartas {
    animation-duration: 7s;
    overflow:hidden;
    
    
}
.cartas:hover {
    -webkit-transform:scale(1.05);transform:scale(1.05);

}

img {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 100px;
    height: 100px;
}
.precio {
    font-weight: bold;
    text-align: center;
    color: yellow;
    margin: 0 auto;
}

.product {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-between;
    width: 32%;
    color: #ffffff;
    background-color: #08060b;
    margin: 10px;
    font-size: 15px;
    padding: 5px;
    border-radius: 15px;
    height: max-content;
}

#otraAnimacion {
    background: #98bf21;
    height: 100px;
    width: 100px;
    position: absolute;
}
